.fs {
    float: right;
    font-size: 2em;
    line-height: 150%;
    writing-mode:tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
    font-family: STKaiti,KaiTi,HiraKakuProN-W3,sans-serif!important;
    white-space: pre-wrap;
    overflow-x: scroll; 
    height: inherit;
}

.input {
  margin-top: 1em;
}

.ui.form textarea:not([rows]) {
    height: 50%;
    min-height: 50%;
    max-height: 100%;
}

.ui.form textarea {
    border: 0;
    font-size: 1.5em;
    font-family: STKaiti,KaiTi,HiraKakuProN-W3,sans-serif!important;
    line-height: 150%;
}

#title input {
    border: none;
    border-left: 0.3em #F3F3F4 solid;
    border-radius: none;
    border-radius: 0px;
    font-size: 2em;
    font-family: STKaiti,KaiTi,HiraKakuProN-W3,sans-serif!important;
}

#search input {
    font-family: STKaiti,KaiTi,HiraKakuProN-W3,sans-serif!important;
}

.shuimo {
    color: #2C3E50;
}

.kaiti {
    font-family: STKaiti,KaiTi,sans-serif!important;
}


#show .icon{
    color: #F3F3F4!important;
}

#show .icon:hover {
    color: #1B1C1D!important;
}

#posts .remove.icon {
    display: none;
}

#posts .item:hover .remove.icon {
    display: block;
}

.ui.floating.dropdown .menu {
    left: auto;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15)!important;
    border-radius: .28571429rem!important;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  .fs {
    font-size: 12px;
    font-family: STKaiti,KaiTi,HiraKakuProN-W6,sans-serif!important;
  }

  #title input {
    font-size: 14px;
  }

  .ui.form textarea {
    font-size: 12px;
  }
}